.footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #42446E;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    margin: 50px 50px 50px 0;
}