.social-list {
    display: flex;
    align-items: center;
}
.social-list .item {
    flex-shrink: 0;
    margin-right: 20px;
}
.social-list .item:last-child {
    margin-right: 0;
}
.social-list .item .icon {
    width: 30px;
    height: 30px;
}

.social-list__mtc {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1400px;
}

.social-list__mtc .item .icon__large {
    width: 120px;
    height: 120px;
}

.social-list__mtc .item__mr {
    margin-right: 120px;
    margin-bottom: 90px;
}

.social-list__mtc .item__mr:nth-child(6) {
    margin-right: 0;
}

.tech-stack-section {
    width: 1400px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
    .social-list__mtc {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 1024px;
    }

    .tech-stack-section {
        width: 1024px;
        margin-bottom: 100px;
    }

    .social-list__mtc .item__mr {
        margin-right: 60px;
        margin-bottom: 45px;
    }

    .social-list .item:last-child {
        margin-right: 60px;
    }

    .social-list__mtc .item__mr:nth-child(5) {
        margin-right: 60px;
    }
    .social-list__mtc .item__mr:nth-child(6) {
        margin-right: 60px;
    }
}

@media screen and (max-width: 768px) {
    .social-list__mtc {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 768px;
    }

    .tech-stack-section {
        width: 648px;
        margin-bottom: 100px;
    }

    .social-list__mtc .item__mr {
        margin-right: 60px;
        margin-bottom: 25px;
    }

    .social-list .item:last-child {
        margin-right: 60px;
    }

    .social-list__mtc .item__mr:nth-child(4) {
        margin-right: 60px;
    }
    .social-list__mtc .item__mr:nth-child(5) {
        margin-right: 60px;
    }
    .social-list__mtc .item__mr:nth-child(6) {
        margin-right: 60px;
    }
}

@media screen and (max-width: 480px) {
    .social-list__mtc {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 480px;
    }

    .tech-stack-section {
        width: 480px;
        margin-bottom: 100px;
    }

    .social-list__mtc .item__mr {
        margin-right: 60px;
        margin-bottom: 45px;
    }

    .social-list .item:last-child {
        margin-right: 60px;
    }

    .social-list__mtc .item__mr:nth-child(2) {
        margin-right: 60px;
    }
    .social-list__mtc .item__mr:nth-child(6) {
        margin-right: 60px;
    }
}